{% extends "base.html" %}
{% load bootstrap %}

{% block title %}店舗予約{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-6">
        <br>
        <h1>店舗予約</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
                <br>
            {% endfor %}
            <button type="submit">予約</button>
        </form>
    </div>
</div>

{% endblock %}