{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}マイページ{% endblock %}

{% block content %}
<h1>マイページ</h1>
<p>あなたは
    {% if user.is_premium %}
        有料会員
    {% else %}
        無料会員
    {% endif %}
    です
</p>

<div class="mypage">
    <table class="table">
        <tbody>
            <tr>
                <th>ユーザー名</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>姓</th>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th>名</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>生年月日</th>
                <td>{{ user.birthday }}</td>
            </tr>
            <tr>
                <th>性別</th>
                <td>{{ user.gender }}</td>
            </tr>
        </tbody>
    </table>

    <div class="user-action">
        <div>
            {% comment %} 全会員さま向け {% endcomment %}
            <a href="{% url 'user_update' user.pk %}">☛会員情報更新</a>
            <br>
            <a href="{% url 'user_delete' user.pk %}">☛退会する</a>
        </div>
        <div>
        {% comment %} 有料会員さま向け {% endcomment %}
            {% if user.is_premium %}
                <form action="{% url 'favorite_restaurants' user.pk %}" method="get">
                    <button type="submit" class="btn btn-outline-primary btn-sm">
                        お気に入り店舗
                    </button>
                </form>
                <form action="{% url 'posted_list' user.pk %}" method="get">
                    <button type="submit" class="btn btn-outline-primary btn-sm">
                        投稿したレビュー
                    </button>
                </form>
                <form action="{% url 'reserved_list' user.pk %}" method="get">
                    <button type="submit" class="btn btn-outline-primary btn-sm">
                        予約一覧
                    </button>
                </form>
                <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
                <script src="{% static "subscription/js/main.js" %}"></script> <!-- new -->
                <form action="{% url 'update_card' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">カード情報の編集</button>
                </form>
                <form action="{% url 'cancel_subscription' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">無料会員になる</button>
                </form>
            {% else %}
            <a type="button" href="{% url 'user_upgrade' user.pk %}">
            ☛有料会員になる
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% include 'nagoyameshi/modal_for_free.html' %}
{% endblock %}
