{% extends "base.html" %}
{% load bootstrap %}

{% block title %}投稿レビュー{% endblock %}
{% block content %}

<h1>投稿レビュー</h1>
{% for review in object_list %}
<table border="1">
    <tbody>
        <tr>
            <th>スコア</th>
            <td>{{ review.score }}</td>
        </tr>
        <tr>
            <th>来店人数</th>
            <td>{{ review.number_of_people }}</td>
        </tr>
        <tr>
            <th>目的</th>
            <td>{{ review.purpose }}</td>
        </tr>
        <tr>
            <th>口コミ</th>
            <td>{{ review.content }}</td>
        </tr>
    </tbody>
    <form method="post">
        {% csrf_token %}
        <a type="button" class="btn btn-outline-primary btn-sm" 
        data-bs-toggle="modal" 
        data-bs-target="#delete-Modal-{{ review.id }}">削除</a>
    </form>
    <form action="{% url 'review_post' review.restaurants_id_id %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">編集</button>
    </fotm>
</table>
{% endfor %}
{% endblock %}