{% extends "base.html" %}
{% load bootstrap %}

{% block title %}予約一覧{% endblock %}
{% block content %}

<h1>予約一覧</h1>
{% for reservation in object_list %}
<table border="1">
    <tbody>
        <tr>
            <th>日付</th>
            <td>{{ reservation.reserved_datetime }}</td>
        </tr>
        <tr>
            <th>来店人数</th>
            <td>{{ reservation.number_of_people }}</td>
        </tr>
    </tbody>
    <form method="post">
        {% csrf_token %}
        <a type="button" class="btn btn-outline-primary btn-sm" 
        data-bs-toggle="modal" 
        data-bs-target="#delete-Modal-{{ reservation.id }}">キャンセル</a>
    </form>
    {% include 'cancel_reservation.html' with reservation=reservation %}
</table>
{% endfor %}

{% endblock %}