{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}有料会員登録{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <br>
        <h1>有料会員登録</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    
                    {% if field.name == 'birthday' %}
                        <small class="form-text text-muted">例: 1990-01-01</small>
                    {% elif field.name == 'gender' %}
                        <small class="form-text text-muted">例: 男性は１，女性は２を選択</small>
                    {% endif %}
                </div>
            {% endfor %}
            <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
            <script src="{% static "subscription/js/main.js" %}"></script> <!-- new -->
            <div class="container mt-5">
                <button type="submit">確認とカード情報入力へ進む</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}