{% extends "base.html" %}
{% load bootstrap %}

{% block title %}会員情報更新{% endblock %}

{% block content %}
<form action="" method="POST">
    {{ form.non_field_errors }}
    <table class="table">
        <tbody>
            {% for field in form %}
                <tr>
                    <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                    <td>{{ field }} {{ field.errors }}
                        {% if field.name == 'birthday' %}
                        <small class="form-text text-muted">例: 1990-01-01</small>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">保存</button>
</form>

{% endblock %}