<div class="modal fade" id="forfree-Modal-{{ user.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">この機能は有料会員のみです。</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-footer">
            <form method="get" action="{% url 'user_upgrade' user.pk %}">
            {% csrf_token %}
              {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button> {% endcomment %}
              <button type="submit" class="btn btn-primary">有料会員になる</button>
            </form>
      </div>
    </div>
  </div>