{% extends "base.html" %}
{% load bootstrap %}

{% block title %}検索結果一覧{% endblock %}
{% block content %}

<h1>検索結果一覧</h1>
{% for restaurant in object_list %}
<div class="flex">
    <figure class="image"><img src="{{ restaurant.store_image.url }}" alt=""></figure>
    <div class="right">
        <div>
            <h3 class=name>
                <a class=storename href="{% url 'restaurant_detail' restaurant.pk %}">{{ restaurant.store_name }}</a>
            </h3>
        </div>
        <div>
            <p class="text">{{ restaurant.store_description }}</p>
        </div>
        <div>
            <p class="price">￥{{ restaurant.lowest_price }}～ {{ restaurant.hightest_price }}</p>
        </div>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}

